*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

@media screen and (min-width:750px) {
    #root{
        padding: 4rem 0;
    }
}